# Unity generated folders
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

# Visual Studio / Rider cache
.vs/
.vsconfig
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Asset meta backups
*.tmp

# Crashlytics
crashlytics-build.properties

# Builds (APK)
*.apk
*.aab
*.unitypackage
*.app

# OS files
.DS_Store
Thumbs.db
